* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;

}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 58px;
}

header {
    
     .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin-bottom: 77px;
    }
    .nav-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 53px;
    }
    .logo{
        position: relative;
        top: 5px;
    }
    a {
        font-family: 'Tourney', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 22px;
        margin-left: 3px;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        li,a {
            font-family: 'Staatliches';
            font-size: 22px;
            letter-spacing: 3%;
        } 
    }
   
}

h1,
h2 {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 2.3125rem;
    margin-bottom: 37px;
    letter-spacing: 4%;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 39px;
}

p.bold {
    font-weight: 700;
    text-shadow: 0 1px 7px #808080;
    vertical-align: 2%;
}

.small-up {
    position: relative;
    top: -1.3em;
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 1.3px;
    margin-left: 8px;
    font-size: 50%;
}

p {
    line-height: 48px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    h2 {
        margin-bottom: 8px;
    }

}

.teg-closed::after {
    content: "</Text>";

}

.teg-open::before {
    content: "<Text>";
}

.bg-grey {
    background-color: #DADADA;
    padding-top: 7px;
    padding-bottom: 7px;
}

a {
    color: black;
}
.down{
    margin-top: 10px;
}
.down2{
    margin-top: 7px;
}