*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

a {
  text-decoration: none;
}

a,
button {
  transition: all 0.2s ease;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 26px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  height: 80px;
  background-color: #F8F1EA;
  z-index: 998;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a:hover img,
.logo a:focus img {
  filter: brightness(0) invert(1);
}

.main-menu ul {
  display: flex;
}
.main-menu li a {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #000000;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-menu li a:hover, .main-menu li a:focus {
  color: #fff;
  outline: none;
  transition: color ease 0.2s;
  background-color: #F16A50;
}

.search-profil {
  display: flex;
  gap: 30px;
}
.search-profil a svg {
  width: 36px;
  height: 36px;
  fill: #000000;
}
.search-profil a:hover svg, .search-profil a:focus svg {
  fill: #F16A50;
}

.section-slider {
  margin-top: 80px;
  margin-bottom: 70px;
  text-align: center;
}
.section-slider .slider-item {
  position: relative;
}
.section-slider .slider-item .info {
  position: absolute;
  top: 120px;
  right: 100px;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
  color: #F8F1EA;
  font-size: 3.125rem;
  font-weight: 700;
  width: 350px;
  line-height: 50px;
  text-transform: uppercase;
}

.btn {
  background-color: transparent;
  border: 2px solid #F8F1EA;
  color: #fff;
  width: 227px;
  height: 52px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
}
.btn:hover, .btn:focus {
  background-color: #E54F3A;
  border-color: #E54F3A;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.slider-wraper {
  display: flex;
  align-items: center;
}

.products {
  text-align: center;
  margin-bottom: 26px;
}
.products .slider-wraper {
  margin-bottom: 50px;
}
.products .card {
  width: 224px;
  height: 437px;
  border: solid 1px #F8F1EA;
}
.products .card .status {
  width: 60px;
  height: 20px;
  font-size: 0.625rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  color: #F8F1EA;
  background-color: #F16A50;
}
.products .card.sold {
  border-color: #F16A50;
}
.products .card.sold .status {
  background-color: #F8F1EA;
  color: #000000;
}
.products .info-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 204px;
}
.products .info-product img {
  height: 300px;
  width: 204px;
}
.products .info-product .text {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.products .info-product .price {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.products .btn {
  display: inline-block;
  border: 2px solid #000000;
  color: #000000;
}
.products .btn:hover, .products .btn:focus {
  background-color: #E54F3A;
  border-color: #E54F3A;
  color: #fff;
}

.arrow {
  width: 40px;
  height: 74px;
  background: transparent;
  border: 0;
}
.arrow svg {
  width: 100%;
  height: 100%;
  fill: #000000;
}
.arrow:hover svg {
  fill: #F16A50;
}

.partners {
  background-color: #F8F1EA;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.partners h3 {
  margin-bottom: 40px;
}
.partners img {
  height: 35px;
}

footer {
  color: #F8F1EA;
  background-color: #35312D;
  padding-top: 70px;
  padding-bottom: 20px;
}
footer .footer-wraper {
  display: flex;
  justify-content: space-between;
}
footer .footer-wraper .logo {
  margin-bottom: 35px;
}
footer .footer-wraper .footer-info ul li a {
  color: #F8F1EA;
}
footer .footer-wraper .footer-info ul li a:hover {
  color: #F16A50;
}
footer .footer-wraper .contacts ul {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
footer .footer-wraper .contacts ul li a {
  transition: all 0.2s ease;
}
footer .footer-wraper .contacts ul li a svg {
  fill: #F8F1EA;
  height: 30px;
  width: 70px;
}
footer .footer-wraper .contacts ul li a:hover svg {
  fill: #F16A50;
}
footer .footer-wraper .contacts ul li a:hover svg#youtube {
  stroke: #F16A50;
}
footer li {
  font-size: 1.25rem;
}
footer .copy {
  text-align: center;
}

h4 {
  margin-bottom: 48px;
}