*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} 
.page-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 120px;
    margin-bottom: 120px;
    gap: 120px;
    margin-top: 120px;
    margin-bottom: 120px;
    
}
.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

h2{
    font-family: Delius Unicase;
    font-weight: 400;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 1.8px;
}
img{
    display: inline-block;
    border-radius: 20px;

}
.grid-container{
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(370px,1fr));
    gap: 30px;
}

.cols-2{
    grid-column: span 2;
}
.rows-2{
    grid-row: span 2;
}
