*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

a {
  text-decoration: none;
}

a,
button {
  transition: all 0.2s ease;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  color: #262A3F;
  font-weight: 300;
  line-height: 26px;
  background: url("../images/first-screen.png") top center/100% no-repeat;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 30px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 998;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu ul {
  display: flex;
  gap: 30px;
}
.main-menu li a {
  font-size: 0.875rem;
  text-transform: capitalize;
  color: #262A3F;
  letter-spacing: 1.2px;
  line-height: 24px;
}
.main-menu li a:hover, .main-menu li a:focus {
  -webkit-text-decoration: underline #F1897B 2px;
  text-decoration: underline #F1897B 2px;
  text-underline-offset: 5px;
  outline: none;
  transition: color ease 0.5s;
}

.color-text {
  font-style: italic;
  color: #85BBB1;
}

h1 {
  margin-top: 260px;
  font-family: "Playfair Display";
  font-size: 2.75rem;
  font-weight: 400;
  color: #262A3F;
  line-height: 52px;
  padding-bottom: 22px;
}

.color-ref {
  display: inline-block;
  text-transform: uppercase;
  font-size: clamp(16px, 3vw, 20px);
  letter-spacing: 1.7px;
  color: #F1897B;
  font-weight: 700;
  background-image: linear-gradient(0deg, rgba(255, 76, 67, 0.295) 40%, transparent 50%);
  padding-right: 5px;
}
.color-ref:hover, .color-ref:focus {
  color: #E54F3A;
  background-image: linear-gradient(0deg, rgba(243, 32, 21, 0.421) 50%, transparent 50%);
  transition: color ease 0.5s;
  outline: none;
}

.main-text {
  width: 44%;
}
.main-text p {
  width: 85%;
  opacity: 0.8;
  padding-bottom: 47px;
}

section:first-of-type {
  padding-bottom: 145px;
}

section {
  padding-bottom: 120px;
}

.images-text {
  position: relative;
  display: flex;
  align-items: center;
}
.images-text .photo {
  aspect-ratio: 570/670;
  width: 49%;
}
.images-text .info {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  width: 65.8%;
  position: absolute;
  right: 0;
  padding: 45px 0;
}
.images-text .info .text-grey {
  font-family: "Playfair Display";
  color: #E4E4E4;
  font-size: 2.5rem;
  font-weight: 400;
  padding-right: 10px;
}
.images-text .info-list {
  width: 48%;
}
.images-text .info-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 60px;
  padding-top: 20px;
}
.images-text .info-list ul li:not(:last-child) {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 35%, #85BBB1 35% 65%, rgba(255, 255, 255, 0) 65% 100%, transparent 0%);
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
.images-text .info-text {
  width: 52%;
  align-items: start;
}
.images-text .info-text p {
  padding-bottom: 30px;
}
.images-text .info-text p:last-of-type {
  padding-bottom: 45px;
}

.numder {
  font-family: "Playfair Display";
  font-size: 4.25rem;
  font-weight: 400;
  padding-bottom: 25px;
}
.numder.big {
  padding-bottom: 35px;
}

h2 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 30px;
  line-height: 48px;
  padding-top: 20px;
}

.info-table {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20vh 40px;
}
.info-table li {
  padding: 30px 35px;
  border-top: solid 1px #E4E4E4;
  aspect-ratio: 550/250;
}
.info-table li h2 {
  width: 87%;
}

.author {
  font-family: "Playfair Display";
  font-size: 1.25rem;
  font-style: italic;
  letter-spacing: 1.8px;
  line-height: 20px;
}

.quote {
  position: relative;
  background: url("../images/quote-background2.png") center/100% no-repeat;
  aspect-ratio: 1170/400;
}
.quote .quotes {
  padding-top: 3%;
  padding-left: 8.5%;
}
.quote .quotes svg {
  width: 102px;
}
.quote .text {
  position: absolute;
  top: 25%;
  left: 13.5%;
  width: clamp(300px, 60vw, 715px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.quote .text p {
  font-size: clamp(16px, 2.5vw, 32px);
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 46px;
  color: #fff;
  text-align: start;
  padding-bottom: 30px;
}
.quote .text .author {
  letter-spacing: 1.7px;
  font-size: 1.25rem;
}

.video .video-tablet {
  position: relative;
  display: flex;
  width: 83%;
  aspect-ratio: 970/601;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid #E4E4E4;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 14px;
}
.video .video-tablet .circle {
  width: 35px;
  height: 35px;
  border: #E4E4E4 1px solid;
  border-radius: 50%;
}
.video .video-tablet iframe {
  width: 89%;
  height: 89%;
}
.video h2,
.video p {
  padding-left: 8.5%;
  padding-right: 16%;
}
.video h2 {
  padding-bottom: 25px;
}

.images-text.square {
  gap: 10px;
}
.images-text.square .photo {
  aspect-ratio: 600/540;
  width: 51.5%;
}
.images-text.square .info {
  justify-content: end;
  align-items: center;
}
.images-text.square .info .info-table-button {
  width: 90.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(5px, 25vh, 55px) clamp(5px, 35vw, 100px);
  padding-bottom: 25px;
  padding-top: 30px;
}
.images-text.square .info .info-table-button li p {
  padding-bottom: 10px;
}
.images-text.square .info .info-table-button li p:last-of-type {
  padding-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
  background-color: #fff;
  border: solid 1px #E4E4E4;
  width: 100%;
  aspect-ratio: 300/90;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.7px;
  color: #F1897B;
  font-weight: 700;
  -webkit-text-decoration: underline 10px rgba(241, 137, 123, 0.5);
  text-decoration: underline 10px rgba(241, 137, 123, 0.5);
  text-underline-position: left 10px;
}
.btn:hover, .btn:focus {
  border-color: #E54F3A;
  color: #E54F3A;
  -webkit-text-decoration: underline 10px rgba(229, 79, 58, 0.5);
  text-decoration: underline 10px rgba(229, 79, 58, 0.5);
  transition: color ease 0.5s;
  outline: none;
}

h3 {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 10px;
}

.reviews h2 {
  padding-top: 0;
  padding-bottom: 20px;
}
.reviews h2 + p {
  width: 35%;
  padding-bottom: 50px;
}
.reviews ul {
  display: flex;
  gap: 30px;
}
.reviews ul li {
  position: relative;
}
.reviews ul li .back {
  aspect-ratio: 370/340;
  background-color: #191C29;
}
.reviews ul li p {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  line-height: clamp(1rem, 6.5vh, 1.625rem);
}
.reviews ul li .text {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  padding: 30px 45px 40px 45px;
  background-color: #191C29;
  opacity: 0.6;
}
.reviews ul li .text .author {
  padding-top: 0;
  font-size: 1.25rem;
}

section:last-of-type {
  margin-top: -20px;
  margin-bottom: -10px;
}
section:last-of-type .container {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #E4E4E4;
  padding-top: 55px;
}
section:last-of-type .contacte {
  flex-basis: 40%;
}
section:last-of-type form {
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-between;
  flex-basis: 40%;
}
section:last-of-type form input {
  border: none;
  border-bottom: solid 1px #E4E4E4;
}
section:last-of-type form .color-ref {
  width: 190px;
  background-color: #fff;
  border: 0;
}
section:last-of-type form a {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  color: #262A3F;
  opacity: 0.5;
  font-family: "Playfair Display";
  font-size: 1.125rem;
  font-weight: normal;
  font-style: italic;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 5px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  background: #fff;
  color: #262A3F;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  box-sizing: border-box;
}
.did-floating-input:focus {
  outline: none;
}
.did-floating-input:focus ~ .did-floating-label {
  top: -20px;
  font-size: 16px;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -15px;
  font-size: 1.125rem;
}

.did-error-input .did-floating-input,
.did-error-input .did-floating-select {
  border: 2px solid #9d3b3b;
  color: #9d3b3b;
}
.did-error-input .did-floating-label {
  font-weight: 600;
  color: #9d3b3b;
}

footer .container {
  border-top: solid 1px #E4E4E4;
  height: 86px;
}
footer .footer-page {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 1.4px;
  align-items: center;
  height: 100%;
}
footer .document {
  display: flex;
  justify-content: end;
  gap: 32px;
}
footer .document a {
  color: #262A3F;
}
footer .document a:hover, footer .document a:focus {
  color: #E54F3A;
  outline: none;
}
footer .light {
  font-weight: 300;
  letter-spacing: 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.mobile-panel {
  position: fixed;
  width: 300px;
  height: 100dvh;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.mobile-panel nav {
  padding: 30px 0;
}
.mobile-panel nav ul li {
  border-bottom: 1px solid #E4E4E4;
}
.mobile-panel nav a {
  font-family: "Lato";
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #262A3F;
  padding: 15px;
  background-color: transparent;
  transition: all 0.2s ease;
}
.mobile-panel nav a:hover {
  background-color: #85BBB1;
  color: #fff;
}

.hamburger-wrap {
  display: none;
}

@media screen and (max-width: 1220px) {
  .reviews ul li .text {
    padding: 5px;
  }
}
@media screen and (max-width: 970px) {
  .container {
    width: min(90%, 770px);
  }

  .main-menu {
    display: none;
  }

  .hamburger-wrap {
    display: block;
  }

  header .container {
    height: 60px;
  }

  main {
    margin-top: 60px;
    gap: 70px;
  }

  h1 {
    margin-top: 150px;
    font-size: 2.5rem;
    line-height: 48px;
  }

  .main-text {
    width: 75%;
  }

  section:first-of-type {
    padding-bottom: 120px;
  }

  section {
    padding-bottom: 80px;
  }

  .images-text {
    flex-direction: column;
  }
  .images-text .photo {
    aspect-ratio: 370/470;
    width: 100%;
  }
  .images-text .info {
    position: relative;
    width: 70%;
    align-items: center;
    right: auto;
    top: -200px;
    margin-bottom: -200px;
  }
  .images-text .info-list {
    width: 38%;
  }
  .images-text .info-list ul {
    gap: 20px;
  }
  .images-text .info-text {
    width: 58%;
  }
  .images-text .text-grey {
    padding-right: auto;
  }

  .numder {
    font-size: 2.375rem;
    padding-bottom: 15px;
  }
  .numder.big {
    padding-bottom: 20px;
  }

  .info-table {
    gap: 10px 10px;
  }
  .info-table li {
    padding: 10px 10px;
  }

  h2 {
    font-size: 1.875rem;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .quote .text {
    top: 10%;
    left: 5%;
    width: 90%;
  }
  .quote .text p {
    padding-bottom: 10px;
    line-height: 30px;
  }
  .quote .quotes {
    padding-top: -10px;
    padding-left: 20px;
  }
  .quote .quotes svg {
    width: 50px;
    height: 50px;
  }

  .video .video-tablet .circle {
    width: 20px;
    height: 20px;
  }

  .images-text.square .photo {
    width: 80%;
  }
  .images-text.square .info {
    justify-content: center;
    padding: 0;
  }
  .images-text.square .info .info-table-button {
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 15px;
  }

  .btn {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .reviews h2,
.reviews p {
    padding-left: 8%;
  }
  .reviews h2 + p {
    width: 100%;
  }
  .reviews ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews ul li {
    width: 85%;
  }
  .reviews ul li p {
    font-size: 1.125rem;
  }
  .reviews ul li .text {
    justify-content: space-between;
  }
  .reviews ul li .text p {
    padding: 5%;
    line-height: 35px;
  }
}
@media screen and (max-width: 544px) {
  .container {
    width: min(95%, 320px);
  }

  header {
    height: 50px;
  }

  header .container {
    height: 50px;
  }

  h1 {
    margin-top: 70px;
    font-size: 1.5625rem;
    line-height: 30px;
  }

  .main-text {
    width: 90%;
  }

  section {
    padding-bottom: 10px;
  }

  section:first-of-type {
    padding-bottom: 10px;
  }

  .images-text {
    flex-direction: column-reverse;
  }
  .images-text .info {
    position: static;
    flex-direction: column;
    width: 100%;
  }
  .images-text .info .text-grey {
    font-size: 1.25rem;
  }
  .images-text .info-list {
    width: 100%;
  }
  .images-text .info-list ul {
    flex-direction: row;
  }
  .images-text .info-list ul li:not(:last-child) {
    background: none;
  }
  .images-text .info-text {
    width: 100%;
  }

  h2 {
    font-size: 1.5625rem;
    padding-bottom: 10px;
    line-height: 35px;
    padding-top: 10px;
  }

  .info-table {
    grid-template-columns: 95%;
  }

  .numder {
    font-size: 1.25rem;
    padding-bottom: 5px;
  }
  .numder.big {
    padding-bottom: 5px;
  }

  .quote {
    background: url("../images/features.webp") center/100% no-repeat;
    aspect-ratio: 300/300;
  }
  .quote .text p {
    line-height: 30px;
  }

  .video .video-tablet {
    width: 100%;
    border-radius: 30px;
  }
  .video h2,
.video p {
    padding-left: 0;
    padding-right: 0;
  }
  .video h2 {
    padding-bottom: 15px;
  }

  iframe {
    width: 90%;
    top: 15px;
    left: 15px;
  }

  .images-text.square .photo {
    width: 100%;
  }
  .images-text.square .info {
    position: relative;
    top: 0;
    width: 70%;
  }
  .images-text.square .info .info-table-button {
    grid-template-columns: 100%;
  }
  .images-text.square .info .info-table-button li p,
.images-text.square .info .info-table-button li h3 {
    line-height: 20px;
  }

  .reviews ul li {
    width: 100%;
  }
  .reviews ul li p {
    font-size: 1rem;
  }
  .reviews ul li .text {
    justify-content: flex-start;
    gap: 0;
  }
  .reviews ul li .text p {
    padding: 5px;
    line-height: 20px;
  }

  section:last-of-type .container {
    flex-direction: column;
  }
  section:last-of-type .contacte {
    flex-basis: 100%;
  }
  section:last-of-type form .color-ref {
    width: 160px;
  }

  footer .container {
    height: 100px;
    margin-top: 30px;
  }
  footer .footer-page {
    flex-direction: column-reverse;
  }
}
body.mob-show .overlay {
  visibility: visible;
  opacity: 1;
}
body.mob-show .mobile-panel {
  transform: translateX(0);
}